---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import MediaCard from './media-card.astro';

interface Props {
	href: string;
	target?: string;
	title: string;
	description: string;
	thumbnail: string;
}
const { href, target, title, description } = Astro.props;

const thumbnails = import.meta.glob<{ default: ImageMetadata }>(
	'../assets/showcase/*{.png,.jpg,.jpeg,.webp,.avif}'
);
const thumbnail = thumbnails[`../assets/showcase/${Astro.props.thumbnail}`];
if (!thumbnail) {
	throw new Error(`Could not resolve showcase thumbnail: ${Astro.props.thumbnail}`);
}
const src = (await thumbnail()).default;
---

<MediaCard {href} {target}>
	<Image slot="media" {src} alt="" width="560" />
	<div class="meta sl-flex">
		<p class="title">{title}</p>
		{description && <p class="description" set:html={description} />}
	</div>
</MediaCard>

<style>
	.meta {
		padding: 1rem;
		flex-direction: column;
		gap: 0.5rem;
	}
	.title {
		/* padding: 0.75rem 1rem; */
		font-size: var(--sl-text-lg);
		/* text-underline: none; */
	}
	.description {
		color: var(--sl-color-gray-3);
		line-height: 1.5;
	}
</style>
